/* Header */

.header {
    height: 1vh;
    width: 100vw;
}

.nav-bar__logo {
    font-weight: bold;
    padding-left: 4rem;
    padding-top: 1rem;
}

.nav-bar__logo:hover {
    color: #DB7A4E;
    transition: 0.3s ease-in-out;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-bottom: 1vh;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.nav-bar__list {
    display: flex;
    padding-right: 5rem;
}

.nav-bar__list-item {
    list-style-type: none;
}

.nav-bar__logo,
.nav-bar__list-item-link {
    text-decoration: none;
    margin: 15px;
    color: #335576;
}

.nav-bar__list-item-link--active {
    border-bottom: 2px solid #DB7A4E;
}

.nav-bar__list-item-link {
    color: black;
    padding-bottom: 0.25rem;
}

/* Hero section */

.hero__container-hawaii {
    background-image: url(../assets/images/hawaii.jpg);
    background-size: cover;
    background-position: 55% 50%;
    height: 80vh;
}

.hero__container-iceland {
    background-image: url(../assets/images/iceland.jpg);
    background-size: cover;
    background-position: 55% 50%;
    height: 80vh;
}

.hero__container-greece {
    background-image: url(../assets/images/greece.jpg);
    background-size: cover;
    background-position: 55% 53%;
    height: 80vh;
}

.hero__title {
    color: white;
    font-size: 4rem;
    padding-top: 3rem;
    padding-left: 5rem;
    margin-bottom: 2rem;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__item-container {
    display: flex;
    margin-bottom: 3rem;
}

.hero__item {
    margin: 1rem;
    background-color: white;
    padding: 0 1rem;
    line-height: 2.5rem;
    text-align: center;
    list-style: none;
    border-radius: 2%;
}

.hero__item-title {
    border-bottom: 2px solid black;
    line-height: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.hero__item-list {
    background-color: #FEFAF5;
    width: 18vw;
    list-style: none;
    margin-bottom: 1rem;
}
.hero__item-list--last {
    margin-bottom: 4rem;
}

/* Footer */

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #FEFAF5;
}

.footer__icons {
    min-width: 2rem;
    max-width: 2rem;
    margin-right: 2rem;
}

.footer-content__container {
    display: flex;
}

.footer-content__item,
.footer__content {
    margin: 0 1.5rem;
}

.footer__content-title {
    color: #335576;
}

.footer__content-title--padding {
    padding-left: 1.5rem;
}

.footer__content-title--pd {
    margin-bottom: 3rem;
}

.footer-content__day {
    color: #DB7A4E;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.footer-content__link {
    text-decoration: none;
    color: #335576;
}

.footer-content__time {
    color: #335576;
}

.footer__content-icons {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
}

.footer__icons--fb-size {
    min-width: 1rem;
    max-width: 1rem;
}
